.container {
    display: flex;
    height: 100vh; /* Đảm bảo chiếm toàn bộ chiều cao màn hình */
  }
  
  .slide {
    position: sticky;
    top: 0; 
    width: 250px; 
    background-color: #f4f4f4; 
    padding: 10px;
    height: 100vh; 

  }
  
  .content-div {
    flex-grow: 1; 
    overflow-y: auto; 
    padding: 0;
    height: 100vh; 
    .top-bar{
      position: sticky;
      top: 0;
      padding: 5px 10px;
    }
  }
  